* {
    font-family:'roboto',sans-serif;
}
body {
    margin:auto;
}
main {
    background-color:$backgroundcolor;
}
.Title {
    text-align: center;
}
h1 {
    font-family:'shrikhand';
    margin:10px;
    font-size:2em;
    font-weight:normal;
}
h2 {
    margin:0;
    padding:25px;
}
a {
    text-decoration:none;
    color:$link-color;
}

.Locate-Restaurant {
    display:flex;
    justify-content: center;
    gap:20px;
    background-color :$backgroundcolor_locate;
    padding:10px;
    box-shadow: inset 2px 4px 6px 0 rgba(0, 0, 0, 0.3);
    }
.Order-Menu {
    text-align: center;
    background-color: $backgroundcolor ;
    padding-bottom:40px;
    &__Title {
        margin:0;
        padding:40px;
        padding-bottom:1px;}
    &__Button {
    border-radius:25px;
    background:$linear-button;
    width:200px;
    height:45px;
    color:white;
    border:none;
    margin:20px;
    } 
} 
.Fonction {
    padding-bottom:60px;
    background-color: $Number-color;
    &-Button {
        display:flex;
        flex-direction: row;
        align-items:center;
        margin-bottom:15px;
    &__Number {
        border-radius:50px;
        background-color: $Number-backgroundcolor;
        color:$Number-color;
        padding: 4px 9px;
        transform:translateX(12px);
    }
    &__choice {
    background-color: $backgroundcolor;
    border-radius:15px;
    width:75%; // ou 300px
    padding:25px;
    font-size:16px;}
    &_fa {
    padding:25px;
        &_color {
            color:$color-fa-fonction;
        }
        &_shop {
            color:$color-fa-market;
        }
    }
}
}

.Presentation p,h3{
    margin:5px;

}

.Restaurant {
    display:flex;
    flex-direction:column;
    align-items: center;
    background-color:$backgroundcolor;
    padding-bottom:40px;
    &-Card {   
    @include restaurant-card;
    align-items: center;
    width:92%;
    height:270px;
    background-color: white;
    border-radius:25px;
    margin:10px;
    & img{
    @include restaurant-card;
    width:100%;
    height:200px;
    object-fit: cover;
    border-radius:25px 25px 0 0;}

    &_Descriptif {
        display:flex;
        align-items: center;
    }
    &_Txt {
        flex:1;
        padding-left:15px;
    }
    &_Fa {
        padding-right:30px;
    }
  }
}
.footer {
    background-color: $backgroundcolor_footer;
    color:$text-color_footer;
    font-size:medium;
    padding-bottom:25px;
    &-a-decoration {
        flex:10;
        color:$text-color_footer;
    }
    &-fa {
        flex:1;
    }
    &-title {
        padding:20px 0 10px 25px;
        margin:0;
        font-size:18px;
    }
    &-list{
        list-style: none;
        margin:0;
        padding:0 0 0 25px;
        &_text {
            display:flex;
            // gap éventuel nécessaire pour la version desktop ou refaire un flex dimensionné en media queries à voir plus tard
            align-items: center;
            padding-bottom:5px;
            font-weight:bold;
        }
        &_text-small {
            padding-bottom:5px;
        }
    }
}
