// Color 

$Primary : #9356DC;
$Secondary : #FF79DA;
$Tertiary : #99E2D0;

$White:white;
$Black:black;

// background color 

$backgroundcolorPrimary: #f6f6f6;
$backgroundcolorSecondary:#EAEAEA;
$backgroundcolorTertiary:#353535;

$color-fa-fonction:#7E7E7E;

// Linear-gradient

$linear-button:linear-gradient(to bottom,#ff79da,#9356DC);