$backgroundcolor_locate:#EAEAEA;
$backgroundcolor : #f6f6f6;
$backgroundcolor_footer: #353535;
$text-color_footer:white;
$Number-backgroundcolor:#9356DC;
$Number-color:white;
$link-color:black;
$color-fa-market:#9356DC;
$color-fa-fonction:#7E7E7E;
$backgroundcolor-boutton_plat:white;
