// Color

$Primary: #9356dc;
$Secondary: #ff79da;
$Tertiary: #99e2d0;

$White: white;
$Black: black;

// background color

$backgroundcolorPrimary: #f6f6f6;
$backgroundcolorSecondary: #eaeaea;
$backgroundcolorTertiary: #353535;

$color-fa-fonction: #7e7e7e;

// Linear-gradient

$linear-button: linear-gradient(to bottom, #ff79da, #9356dc);
