* {
  font-family: "roboto", sans-serif;
}

body {
  margin: auto;
}

.body-content {
  width: 100%;
}

main {
  background-color: #f6f6f6;
}

.Title {
  text-align: center;
}

h1 {
  font-family: "shrikhand";
  margin: 10px;
  font-size: 2em;
  font-weight: normal;
}

h2 {
  margin: 0;
  padding: 25px;
}

h3 {
  margin: 0;
  padding: 0;
}

h4 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.Locate-Restaurant {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: #eaeaea;
  padding: 10px;
  box-shadow: inset 2px 4px 6px 0 rgba(0, 0, 0, 0.3);
}

.Order-Menu {
  text-align: center;
  background-color: #f6f6f6;
  padding-bottom: 40px;
}
.Order-Menu__Title {
  margin: 0;
  margin-bottom: 20px;
  padding: 40px;
  padding-bottom: 1px;
}
.Order-Menu__Button {
  border-radius: 25px;
  background: linear-gradient(to bottom, #ff79da, #9356dc);
  width: 200px;
  height: 45px;
  color: white;
  border: none;
  margin: 20px;
}

#Fonction {
  background-color: white;
  padding-bottom: 60px;
}

.Fonction {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}
.Fonction-Button {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
}
.Fonction-Button__Number {
  border-radius: 50px;
  background-color: #9356dc;
  color: white;
  padding: 4px 9px;
  transform: translateX(12px);
}
.Fonction-Button__choice {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 15px;
  width: 100%;
  padding: 5px;
  font-size: 12px;
}
.Fonction-Button_fa {
  padding: 25px;
}
.Fonction-Button_fa_color {
  color: #7e7e7e;
}

.Presentation p,
h4 {
  margin: 5px;
}

.Presentation {
  background-color: #f6f6f6;
}

.Restaurant {
  padding-bottom: 40px;
}
.Restaurant-Title {
  background-color: #f6f6f6;
}
.Restaurant-Card {
  position: relative;
  align-items: center;
  height: 270px;
  background-color: white;
  border-radius: 25px;
  margin: 10px;
}
.Restaurant-Card_Nouveau {
  font-weight: bold;
  padding: 5px;
  background-color: #99e2d0;
  color: #278870;
  position: absolute;
  display: flex;
  top: 20px;
  right: 20px;
}
.Restaurant-Card img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px 25px 0 0;
}
.Restaurant-Card_Descriptif {
  display: flex;
  align-items: center;
}
.Restaurant-Card_Txt {
  flex: 1;
  padding-left: 15px;
}
.Restaurant-Card_Fa {
  margin-right: 30px;
}
.Restaurant-Card_Fa_animation i {
  color: #9356dc;
}

.footer {
  background-color: #353535;
  color: white;
  font-size: medium;
  padding-bottom: 25px;
}
.footer-a-decoration {
  color: white;
}
.footer-fa {
  margin-right: 5px;
  display: inline-block;
  width: 15px;
}
.footer-title {
  font-family: "shrikhand";
  font-weight: normal;
  padding: 20px 0 10px 25px;
  margin: 0;
  font-size: 18px;
}
.footer-list {
  list-style: none;
  margin: 0;
  padding: 0 0 0 25px;
}
.footer-list_text {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-bottom: 5px;
  font-weight: bold;
}
.footer-list_text-small {
  padding-bottom: 5px;
}

.Header {
  display: flex;
  align-items: center;
}
.Header_title {
  font-family: "shrikhand";
  margin: 10px;
  font-size: 2em;
  font-weight: normal;
  width: 100%;
  text-align: center;
}
.Header_Back {
  position: absolute;
  padding-left: 25px;
}

main {
  background-color: white;
}

.presentation-restaurant_img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 250px;
  position: relative;
}

.presentation-restaurant_menu {
  border-radius: 25px 25px 0 0;
  background-color: #f6f6f6;
  margin-top: -35px;
  position: relative;
}
.presentation-restaurant_menu_Card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
.presentation-restaurant_menu_titreflex {
  display: flex;
  align-items: center;
  padding: 25px;
  justify-content: center;
  gap: 30px;
}
.presentation-restaurant_menu_titre {
  font-family: "shrikhand";
  font-weight: normal;
  font-size: 26px;
  padding: 0;
}
.presentation-restaurant_menu_soustitre {
  font-size: 16px;
  padding-top: 35px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  position: relative;
  display: inline-block;
  font-weight: unset;
  margin-left: 7%;
}
.presentation-restaurant_menu_commande {
  border-radius: 25px;
  padding: 10px;
  width: 85%;
  justify-content: center;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: white;
}
.presentation-restaurant_menu_commande_symbole i {
  color: white;
}
.presentation-restaurant_menu_commande_descriptif {
  display: flex;
  justify-content: space-between;
}
.presentation-restaurant_menu_commande_descriptif_txt {
  font-size: 0.88em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.presentation-restaurant_menu_commande_descriptif_prix {
  font-weight: bold;
  white-space: nowrap;
}

.presentation-restaurant_menu_commande h4,
p {
  padding: 0;
  padding-bottom: 5px;
  margin: 0;
  white-space: nowrap;
}

.boutton_commande {
  display: flex;
  justify-content: center;
}

@keyframes loading {
  0% {
    opacity: 1;
    z-index: 10;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes loading-line {
  0% {
    width: 0%;
  }
  70% {
    width: 100%;
  }
}
.loading {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading-bar {
  width: 80%;
  height: 33px;
  background-color: #99e2d0;
  position: fixed;
  top: 0;
  left: 0;
}
.loading-website {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: loading 5s 2s;
}
.loading-txt {
  margin-bottom: 25px;
  font-family: "shrikhand";
  margin: 10px;
  font-size: 3em;
  font-weight: normal;
}

.loading .line-box {
  padding: 2px;
  width: 40%;
  height: 20px;
  border: 2px solid black;
  border-radius: 20px;
}

.loading .line-box .line {
  height: 20px;
  border-radius: 20px;
  background: linear-gradient(to bottom, #ff79da, #9356dc);
  animation: loading-line 6s cubic-bezier(0.9, 0, 0.1, 1);
}

@keyframes website {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.body-content {
  position: absolute;
  overflow: hidden;
  z-index: 1;
  animation: website 5s ease-in;
}

.presentation-restaurant_menu_soustitre::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40px;
  height: 1px;
  background-color: #99e2d0;
}

.presentation-restaurant_menu_commande {
  border: 1px solid #ccc;
  overflow: hidden;
  position: relative;
  transition: transform 1s ease-in-out, max-width 0.1s ease-in-out;
}

.presentation-restaurant_menu_commande_animation {
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #99e2d0;
  transform: scale(1);
  transition: width 1s ease-in-out, transform 1s ease-in-out;
}

.presentation-restaurant_menu_commande_descriptif_prix {
  transform: translateX(0);
  transition: transform 1s ease-in-out;
}

.presentation-restaurant_menu_commande_symbole {
  font-size: 24px;
  display: block;
  position: absolute;
  top: 32px;
  left: 30px;
  transform: translate(-50%, -50%) rotate(0deg);
  transition: transform 1s ease-in-out;
  align-items: center;
}

.presentation-restaurant_menu_commande:hover .presentation-restaurant_menu_commande_descriptif_prix {
  transform: translateX(-60px);
  transition: transform 1s ease-in-out;
}
.presentation-restaurant_menu_commande:hover .presentation-restaurant_menu_commande_animation {
  width: 60px;
  transform: scale(1) translate(0);
}
.presentation-restaurant_menu_commande:hover .presentation-restaurant_menu_commande_symbole {
  transform: translate(-50%, -50%) rotate(360deg);
  transition: transform 1s ease-in-out;
}
.presentation-restaurant_menu_commande:hover .presentation-restaurant_menu_commande_descriptif_txt {
  max-width: 70%;
}

.Restaurant-Card_Fa {
  position: relative;
  display: flex;
  padding: 5px;
  cursor: pointer;
}
.Restaurant-Card_Fa:hover .Restaurant-Card_Fa_empty i {
  transform: scale(0);
  transition: transform 1000ms;
}
.Restaurant-Card_Fa:hover .Restaurant-Card_Fa_animation i {
  transform: scale(1);
  transition: transform 1000ms;
}
.Restaurant-Card_Fa .Restaurant-Card_Fa_empty i {
  transform: scale(1);
  transition: transform 1000ms;
}
.Restaurant-Card_Fa .Restaurant-Card_Fa_animation i {
  transform: scale(0);
  transition: 1000ms;
  margin-left: -24px;
  margin-bottom: -44px;
}

.Fonction-Button__choice:hover i {
  color: #9356dc;
}

@keyframes Menu {
  0% {
    opacity: 0;
  }
  50% {
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.ENTREES {
  opacity: 0;
  transform: translateY(200px);
  animation: Menu 2s ease-in-out 1s forwards;
}

.PLATS {
  opacity: 0;
  transform: translateY(200px);
  animation: Menu 3s ease-in-out 2s forwards;
}

.DESSERTS {
  opacity: 0;
  transform: translateY(200px);
  animation: Menu 4s ease-in-out 3s forwards;
}

.Order-Menu__Button:hover {
  background: linear-gradient(to bottom, #ff94e8, #ad81e7);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

@media only screen and (min-width: 768px) {
  .Presentation {
    width: 100%;
    align-items: center;
  }
  .Restaurant {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 5%;
    padding-left: 50px;
  }
  .Restaurant-Title {
    padding-left: 60px;
  }
  .Restaurant-Card {
    width: 44%;
    box-sizing: border-box;
    justify-content: center;
  }
}
@media only screen and (min-width: 1040px) {
  #Fonction {
    padding-left: 120px;
    padding-right: 220px;
  }
  .Fonction {
    flex-direction: row;
    justify-content: space-between;
  }
  .Fonction-Button__choice {
    width: 275px;
  }
  .Restaurant {
    padding-left: 135px;
    padding-right: 135px;
  }
  .Restaurant-Title {
    padding-left: 145px;
  }
  .footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-top: 30px;
    width: 100%;
    justify-content: flex-end;
    gap: 60px;
  }
  .footer-title {
    padding-right: 60px;
    padding-bottom: 35px;
    padding-left: 35px;
  }
  .footer-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: right;
  }
  .footer-list_text {
    gap: 5px;
    padding-right: 20px;
  }
  .footer-list_text-small {
    padding-left: 20px;
  }
  .presentation-restaurant_menu {
    margin-left: 200px;
    margin-right: 200px;
    padding-left: 55px;
    padding-right: 55px;
  }
}/*# sourceMappingURL=style.css.map */